@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Pixelify+Sans:wght@400..700&display=swap');

h1{
    font-family:"Crimson Pro";
    font-size: 48px;
    align-self: center;
}
.arrow1{
    display:flex;
    position:absolute;
    top:80%;
    right: -2%
}